:root {
  --color-primary: #ecd16f;
  --color-second: #616161;
}

body {  
  font-family: 'Bitter', serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho nav a {  
  font-size: 1.2em;  
  margin-left: 2em;  
}

.cabecalho nav a:hover {
  background: #fff;
  padding: .5em;
  border-radius: .5em;
  color: #F5E29B;
  box-sizing: border-box
}

