.primary-button {
  border: 1px solid var(--color-second);
  border-radius: 4px;  
  text-decoration: none;
  color: var(--color-second);  
  font-family: 'Comfortaa', sans-serif;
  font-weight: 500;
  padding: .5em;  
  
}