.main-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh
}

.main-stage > .simple-title {
  margin-bottom: var(--gap-smaller);
  font-size: 1.5rem
}

.main-stage > .simple-subtitle {
  margin-bottom: var(--gap-big);
  font-size: 1.375rem;
}

.main-stage > .primary-button {
  width: 200px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  margin-bottom: var(--gap-smaller);
  font-size: 1.375rem
}

.main-stage > .simple-action {
  font-size: 1.375rem;
}